*{
    margin: 0;
    padding: 0;
}
.banner{
    min-height: 320px;
    background-color: rgb(62, 52, 55);
    color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
    background-image:url("shop-banner.jpeg");
    background-position: 70% center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


.col:hover{
    transform: scale(1.1);
}
.col{
    transition: all 0.5s;
}
